{% for loopback in loopbacks %}
interface {{ loopback.name }}
{% if loopback.ip_addr is defined %}
 ip address {{ loopback.ip_addr }} {{ loopback.mask }}
{% else %}
 no ip address
{% endif %}
{% if not loopback.enable %}
 shutdown
{% endif %}
!
{% endfor %}
{% for int in interfaces %}
interface {{ int.name }}
{% if int.description %}
 description {{ int.description }}
{% endif %}
{% if int.ip_addr != false %}
 ip address {{ int.ip_addr }} {{ int.mask }}
{% elif int.dhcp is defined %}
 ip address dhcp
{% else %}
 no ip address
{% endif %}
{% if int.nat is defined %}
 ip nat {{ int.nat }}
 ip virtual-reassembly in
{% endif %}
{% if not int.enable %}
 shutdown
{% endif %}
 duplex {{ int.duplex }}
 speed {{ int.speed }}
 media-type {{ int.media_type }}
{% if glbp_settings is defined %}
{% for glbp in glbp_settings %}
{% if int.name == glbp.int %}
 glbp {{ glbp.group }} ip {{ glbp.virt_ip_addr }}
 glbp {{ glbp.group }} priority {{ glbp.priority }}
{% if glbp.preempt %}
 glbp {{ glbp.group }} preempt
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
!
{% endfor %}
