{% if loopbacks is defined %}
{% for loopback in loopbacks %}
interface {{ loopback.name }}
{% if loopback.ip_addr is defined %}
 ip address {{ loopback.ip_addr }} {{ loopback.mask }}
{% else %}
 no ip address
{% endif %}
{% if not loopback.enable %}
 shutdown
{% endif %}
!
{% endfor %}
{% endif %}
{% for int in interfaces %}
interface {{ int.name }}
{% if not int.enable %}
 shutdown
{% endif %}
{% if int.description is defined  %}
 description {{ int.description }}
{% endif %}
{% if int.switchport is defined %} {% if int.switchport.enable  %}
{% if int.switchport.mode == "trunk" %}
switchport trunk encapsulation {{ int.switchport.enc }}
 switchport mode trunk
{% if int.switchport.allowed_vlans is defined %}
 switchport trunk allowed vlan {{ int.switchport.allowed_vlans|join(',') }}
{% endif %}
{% elif int.switchport.mode == "access" %}
switchport mode access 
 switchport access vlan {{ int.switchport.vlans|join(', ') }}
{% endif %}
{% if int.switchport.nonegotiate %}
 switchport nonegotiate
{% endif %}
{% if int.channel_group is defined %}
{% for cg in int.channel_group %}
 channel-group {{ cg.group }} mode {{ cg.mode }}
{% endfor %}
{% endif %}
 spanning-tree link-type {{ int.link_type }}
{% elif not int.switchport.enable %}
 no switchport
{% if int.switchport.ip_addr is defined %}
 ip address {{ int.switchport.ip_addr }} {{ int.switchport.mask }}
{% endif %}
{% endif %}
{% endif %}
{% if int.negotiation is defined %}
 negotiation {{ int.negotiation }}
{% endif %}
{% if int.media_type is defined %}
 media-type {{ int.media_type }}
{% endif %}
{% if int.port_fast is defined %}
 spanning-tree portfast {{ int.port_fast }}
{% endif %}
!
{% endfor %}
