{% for ospf in ospf_settings %}
router ospf {{ ospf.process }}
 router-id {{ ospf.router_id }}
{% for network in ospf.networks %}
 network {{ network.ip_addr }} {{ network.wildcard }} area {{ network.area }}
{% endfor %}
 passive-interface default
{% for int in ospf.no_passive %}
 no passive-interface {{ int }}
{% endfor %}
{% endfor %}
