{% if routes is defined %}
{% for route in routes %}
ip route {{ route.ip_addr }} {{ route.mask }} {{ route.int if route.int else "" }} {{ route.next_hop if route.next_hop else ""}} {{ route.distance if route.distance != 1 else "" }} name {{ route.name }}
{% endfor %}
{% endif %}
