{% for svi in vlans %}
{% if svi.ip_addr is defined %}
interface Vlan{{ svi.id }}
 ip address {{ svi.ip_addr }} {{ svi.mask }}
{% else %}
interface Vlan{{ svi.id }}
 no ip address
{% endif %}
{% if hsrp_settings is defined%}
{% for hsrp in hsrp_settings %}
{% if "Vlan" ~ svi.id == hsrp.int %}
 standby {{ hsrp.group }} ip {{ hsrp.virt_ip_addr }}
{% if hsrp.priority != 100 %}
 standby {{ hsrp.group }} priority {{ hsrp.priority }}
{% endif %}
{% if hsrp.preempt %}
 standby {{ hsrp.group }} preempt
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
!
{% endfor %}
