version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
service compress-config
!
hostname Spine1
!
boot-start-marker
boot-end-marker
!
!
no logging console
enable secret 5 $1$eY44$ObXd0ZJG1t7GvqO9MtFtE/
!
username admin privilege 15 secret 5 $1$l7Sv$Fopq1zzMhyMSOZl/zs..F0
no aaa new-model
clock timezone UTC 3 0
!
!
!
!
!
vtp mode transparent
!
!
!
ip domain-name cisco-lab.local
ip name-server 8.8.8.8
ip cef
no ipv6 cef
!
!
file prompt quiet
archive
 path flash:
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree vlan 1,20 priority 28672
spanning-tree vlan 10 priority 20480
!
vlan internal allocation policy ascending
!
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
!
{% endfor %}
!
!
!
!
!
!
!
!
!
!
!
!
!
{% include "./templates/ios_all/interfaces_spine.j2" %}
interface GigabitEthernet3/3
 no switchport
 ip address 172.{{ spine }}.0.50 255.255.0.0
 negotiation auto
 spanning-tree link-type point-to-point
!
{% include "./templates/ios_all/vlans.j2" %}
{% include "./templates/ios_all/ospf.j2" %}
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
{% include "./templates/ios_all/routes.j2" %}
ip ssh version 2
ip scp server enable
!
!
ip sla 1
 icmp-echo 192.168.100.3
 frequency 10
ip sla schedule 1 start-time now
ip sla 2
 icmp-echo 192.168.100.4
 frequency 10
ip sla schedule 2 start-time now
!
!
!
control-plane
!
!
line con 0
 logging synchronous
 exec-timeout 0 0
line aux 0
line vty 0 4
 login local
 transport input ssh
!
{% for server in ntp_settings %}
ntp server {{ server.ip }}
{% endfor %}
!
end
