version 15.6
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname ER1
!
boot-start-marker
boot-end-marker
!
!
no logging console
!
no aaa new-model
ethernet lmi ce
!
!
!
clock timezone UTC 3 0
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
!
!
!
no ip icmp rate-limit unreachable
!
!
!
!
!
!
no ip domain lookup
ip domain name lab.local
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
archive
 path flash:
username admin privilege 15 secret 5 $1$Ae.V$7BDEAlg6FHSQk0AnOzNEF1
!
redundancy
!
no cdp log mismatch duplex
!
ip tcp synwait-time 5
!
!
!
!
!
!
!
!
!
!
!
!
!
{% include "./templates/ios_all/interfaces.j2" %}
{% include "./templates/ios_all/ospf.j2" %}
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
ip nat inside source list 1 interface GigabitEthernet0/0 overload
ip route 172.{{ spine }}.0.0 255.255.0.0 192.168.100.1
{% include "./templates/ios_all/routes.j2" %}
ip ssh version 2
ip scp server enable
!
!
!
{% for acl in access_lists %}
access-list {{ acl.number }} {{ acl.mode }} {{ acl.network }} {{ acl.mask }}
{% endfor %}
!
control-plane
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line vty 0 4
 login local
 transport input ssh
!
no scheduler allocate
{% for server in ntp_settings  %}
ntp server {{ server.ip }}
{% endfor %}
!
end
